@import "./variable";
@import "./mixins";


// html {
//     transition : font-size .5s ease-in-out;
// }


#cc-electron-scraper-ui-container {


    

    
    /*******************************

        Defaults

    *******************************/

    z-index: 77747;
    width : 100%;
    height : 0;
    font-family : inherit;

    *   {

        // all : unset;

        box-sizing : border-box;

        &.cc-flex  {
            display : flex;

            & > * {
                height : auto;
            }

            &.gapped   {
                gap : .5rem;
            }
            &.gapped-1   {
                gap : 1rem;
            }
            

            &.left  {
                @include flex-items-left("row");
            }

            &.right {
                @include flex-items-right("row");
            }

            &.top   {
                @include flex-items-top("row");
            }

            &.bot   {
                @include flex-items-bot("row");
            }

            &.center-top    {
                @include flex-items-center-x("row");
                @include flex-items-top("row");
            }

            &.center-bot   {
                @include flex-items-center-x("row");
                @include flex-items-bot("row");
            }

            &.center-left   {
                @include flex-items-center-y("row");
                @include flex-items-left("row");
            }

            &.center-right   {
                @include flex-items-center-y("row");
                @include flex-items-right("row");
            }


            &.cc-row   {
                @include flex-row();
                max-width : 100%;
                margin : 0;
                padding : 0;

                &.left  {
                    @include flex-items-left("row");
                }

                &.right {
                    @include flex-items-right("row");
                }

                &.top   {
                    @include flex-items-top("row");
                }

                &.bot   {
                    @include flex-items-bot("row");
                }

                &.center-top    {
                    @include flex-items-center-x("row");
                    @include flex-items-top("row");
                }

                &.center-bot   {
                    @include flex-items-center-x("row");
                    @include flex-items-bot("row");
                }

                &.center-left   {
                    @include flex-items-center-y("row");
                    @include flex-items-left("row");
                }

                &.center-right   {
                    @include flex-items-center-y("row");
                    @include flex-items-right("row");
                }

                flex-wrap : wrap;
                

                &.col-1 > *, &> .col-1 {
                    width: 8.33%;
                }
                &.col-2 > *, & > .col-2 {
                    width: 16.66%;
                }
                &.col-3 > *, & > .col-3 {
                    width: 25%;
                }
                &.col-4 > *, & > .col-4 {
                    width: 33.33%;
                }
                &.col-5 > *, & > .col-5 {
                    width: 41.66%;
                }
                &.col-6 > *, & > .col-6 {
                    width: 50%;
                }
                &.col-7 > *, & > .col-7 {
                    width: 58.33%;
                }
                &.col-8 > *, & > .col-8 {
                    width: 66.66%;
                }
                &.col-9 > *, & > .col-9 {
                    width: 75%;
                }
                &.col-10 > *, & > .col-10 {
                    width: 83.33%;
                }
                &.col-11 > *, & > .col-11 {
                    width: 91.66%;
                }
                &.col-12 > *, & > .col-12 {
                    width: 100%;
                }


            }
    
            &.cc-col   {


                @include flex-col();


                &.left  {
                    @include flex-items-left("col");
                }

                &.right {
                    @include flex-items-right("col");
                }

                &.top   {
                    @include flex-items-top("col");
                }

                &.bot   {
                    @include flex-items-bot("col");
                }

                &.center-top    {
                    @include flex-items-center-x("col");
                    @include flex-items-top("col");
                }

                &.center-bot   {
                    @include flex-items-center-x("col");
                    @include flex-items-bot("col");
                }

                &.center-left   {
                    @include flex-items-center-y("col");
                    @include flex-items-left("col");
                }

                &.center-right   {
                    @include flex-items-center-y("col");
                    @include flex-items-right("col");
                }


            }

            &.center    {
                @include flex-items-center();
            }

            &.stretch   {
                @include flex-items-stretch();
            }

            &.space-evenly  {
                @include flex-items-space-evenly();
            }

            &.space-around  {
                @include flex-items-space-around();
            }

            &.space-between {
                @include flex-items-space-between();
            }

        }
    }

    

    .cc-card   {
        box-shadow: 0px 0px 3px 1px #b4b4b46b;
        background-color : $darkmode-bg;
        padding : 1.3rem;
        width : 100%;
        &.auto-width {
            width : auto;
        }
        &.no-shadow {
            box-shadow: none;
            border : 1px solid #727272;
        }
    }

    .empty-card {
        padding : .5rem;
        width : 100%;

        &.light-bg  {
            background-color : #4c4c4ca3;
        }

        &.empty-card-container   {
            display : flex;
            flex-direction : row;
            justify-content: stretch;
            align-items: stretch;
    
            & > .card   {
                width : 100%;
            }
            
        }

        &.main-empty-card {
            min-height : calc(100vh - 2.8rem);
            padding : 0;
        }

        &.no-padding {
            padding : 0;
        }
    }


    hr  {
        border-color : #707070!important;
        margin : 1.4rem 0!important;
        width : 100%!important;
        border-bottom : 1px solid;
        height : 0;
    }




    $scrollbar-track-bg : rgb(161, 189, 189);
    $scrollbar-thumb-bg : rgb(200, 212, 219);
    $scrollbar-thumb-hover-bg : rgb(177, 194, 206);


    .cc-modal-container, .cc-app-loading-container {
        position : fixed;
        background-color : #0e1b2eb7;
        z-index : 3;
        overflow : hidden;
        top: 0;
        left : 0;
        height : 100vh;
        width : 100%;
        display : flex;
        align-items: center;
        justify-content: center;

        .cc-modal   {
            min-width : 500px;
            min-height : 400px;
            background-color : #262627;
            box-shadow : 0px 0px 3px 1px #546e80;
        }
        
    }

    .cc-app-loading-container   {
        z-index : 5
    }


    .cc-image-slider    {
        display : flex;
        align-items : center;
        justify-content: center;
        .cc-image-slider-outer-container    {
            position : relative;
            overflow: hidden;
            width : 100%;
            
            .image-slider-button    {
                position: absolute;
                top : 0;
                bottom : 0;
                display : flex;
                align-items :center;
                justify-content :center;
                padding:0;
                margin : 0;
                background-color : transparent;
                opacity : .34;
                transition : bacground .2s, opacity .2s ease-in-out;
                z-index : 2;
                cursor : pointer;
                svg {
                    height : 70px;
                    width : 70px;
                }
                &:hover {
                    background-color: #1b1b1ba6;
                    opacity : 1;
                }
                &.next  {
                    right: 0;
                    transform : translate(0, 0);
                }
                &.prev  {
                    left: 0;
                    transform : translate(0, 0);
                }
            }
            
            .cc-image-container {
                position : absolute;
                top : 50%;
                left : 50%;
                transform : translate(-50%, -50%);
                transition : opacity .5s, visibility .5s ease-in-out;
                width : auto;
                min-width : 200px;
                &.current-image  {
                    opacity : 1;
                    visibility: visible;
                    display : block;
                    z-index : 2;
                }
                &.hidden {
                    opacity : 0;
                    visibility: hidden; 
                    z-index : 0;
                }
            }
        }
    }



    


    @media only screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        
        // font-size : 18px;
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
            height : 10px;
        }
        
    /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $scrollbar-track-bg; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-bg; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover-bg; 
        }

    }

    @media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        
        // font-size : 18px;
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
            height : 10px;
        }
        
    /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $scrollbar-track-bg; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-bg; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover-bg; 
        }

    }


    @media only screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
        
        // font-size : 18px;
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
            height : 10px;
        }
        
    /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $scrollbar-track-bg; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-bg; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover-bg; 
        }

    }

    @media only screen and (min-width: $pc-min-width) and (max-width: $pc-max-width) {
        
        // font-size : 18px;
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
            height : 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $scrollbar-track-bg; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-bg; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover-bg; 
        }
    }

    @media only screen and (min-width: $ultra-min-width) {
        
        // font-size : 20px;
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
            height : 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $scrollbar-track-bg; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-bg; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover-bg; 
        }

    }

    /*******************************

        App

    *******************************/


    @keyframes slideIn {
        0% {right: -100%;}
        100% {right : 0;}
    }

    @keyframes slideOut {
        0% {right: 0;}
        100% {right : -100%;}
    }

    @keyframes withSidebar  {
        0% {width : 0;}
        100% {width : 300px;}
    }

    @keyframes withoutSidebar  {
        0% {width : 300px;}
        100% {width : 0;}
    }

    //width : calc(100% - 300px);

    .app    {

        width : 100%;
        height : 0;
        position : relative;        

        

        .main-component {
            min-width : 320px;
            width : 100%;
            max-width : 100%!important;
            height : 100vh;
            overflow-y : hidden;
            padding-top : 120px;
            

            

            .cc-main-header {

                

                height : 120px;
                background-color : #2a2d34;
                position : fixed;
                top : 0;
                left : 0;
                z-index : 3; 
                width : 100%;
                display : flex;
                flex-direction: column;
                box-shadow: 0px 0px 3px 1px #20202096;
                justify-content: stretch;
                align-items: center;
                .upper-header   {
                    // user-select:none;

                    -webkit-app-region: drag;
                    
                    height : 50px;
                    width : 100%;
                    display : flex;
                    align-items: center;
                    justify-content:space-between;
                    padding : .5rem;
                    background-color : #242423;
                    // background-color : #264d5b;
                    // background-color : #425a55;
                    align-items: center;
                    
                    .header-logo-container  {
                        -webkit-app-region: none;
                        display : flex;
                        gap: .7rem;
                        .app-name-container {
                            height : 30px;
                            display : flex;
                            align-items : flex-end;
                            .app-name    {
                                font-size : $font-size-sm;
                                color : #ccd4d3;
                                font-weight : bold;
                                display : flex;
                                align-items: center;
                                gap : .7rem;
                                
                                .app-name-tagline {
                                    font-size : $font-size-xs;
                                    font-style : italic;
    
                                }
                            }
                        }
                        
    
                        .cc-logo-container  {
                            height : 30px;
                            width : 30px;
                            overflow : hidden;
                            // padding : 5px;
                            // position : fixed;
                            // left : 1.7rem;
                            // top: 5.5px;
                            cursor : pointer;
                            z-index : 4;
                            // box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
                            display : flex;
                            flex-direction : column;
                            align-items : center;
                            justify-content: center;
                            
                            svg {
                                pointer-events: none;
                                width : 55px;
                                transform : translate(0, 4px);
                                & > *   {
                                    transition : all .5s ease;
                                }
                                
                            }
                    
                        }
                    }

                    

                    .cc-app-window-buttons-container    {
                        -webkit-app-region: none;
                        padding: .5rem;
                        gap : .25rem;
                        font-size: $font-size-xs;
                        display : flex;
                        
                        .app-header-button  {
                            margin:0;
                            padding : 1rem;
                            width : 30px;
                            height : 30px;
                            min-width: auto;
                            color : #a7a7a7;
                            transition : color .2s ease-in-out;
                            .icon {
                                pointer-events : none;
                                font-size : $font-size-sm;   
                            }
                            &:hover {
                                color : #f1f8ae;
                            }
                        }

                        
                    }
                }
                .lower-header    {
                    display : flex;
                    align-items : stretch;
                    height : 70px;
                    background-color : #425a55;
                    background-color : #3d83b1;
                    background-color : #48444c;
                    background-color : #17252e;
                    // background-color : rgb(51, 59, 61);
                    // background-color : #000;
                    width: 100%;
                    
                    & > *   {
                        padding : .5rem;
                    }
                    .sidebar-menu-button-container  {
                        
                        display : flex;
                        align-items : center;
                    }

                    .cc-header-nav  {
                        display : flex;
                        align-items : stretch;
                        ul  {
                            list-style : none;
                            display : flex;
                            gap : .5rem;
                            align-items: center;
                            justify-content: space-between;

                            li {
                                a {
                                    @include linkTextDark($font-size-sm);
                                    font-weight : bold;
                                }
                            }
                        }

                    }


                }
                
            }
            
            .cc-main-body-container {
                display : flex;
                flex-direction: row;
                // justify-content: flex-end;

                .cc-main-sidebar    {
                    width : 0;
                    animation-name: withoutSidebar;
                    animation-duration : .2s;
                    animation-timing-function: ease-in-out;
                    &.show {
                        animation-name: withSidebar;
                        width : 300px;
                    }
                    background-color: #414141;
                    transition : width .2s ease-in-out;
                }
    
                .cc-main-container  {
                    height : calc(100vh - (120px + 50px));
                    overflow-y : auto;
                    padding : .5rem;
                    background-color: #4b4b4b;
                    // width : 100%;
                    flex-grow: 1;
                    width : 100%;
                    &.with-side-bar {
                        width : calc(100% - 300px);
                    }
                    
                    display : flex;
                    flex-direction : column;
                    .cc-browser-frame-div, .cc-page-div   {
                        display : flex;
                        flex-direction : column;
                        // height : 100%;
                        min-width : 425px;
                        min-height : calc(100vh - (120px + 52px + 1rem));
                        height : auto;

                        > *, .cc-browser-frame-empty-card-container  {
                            flex-grow : 1;
                            
                            .cc-browser-header-container    {
                                position: relative;
                                padding-top: 36px;
                            }
                            .cc-browser-tabs    {
                                position: absolute;
                                top: 0;
                                left: 0;
                                gap : .25rem;
                                flex-wrap:nowrap;
                                overflow-y: hidden;
                                overflow-x: auto;
                                .browser-tab    {
                                    display : flex;
                                    justify-content: stretch;
                                    align-items: stretch;
                                    position : relative;
                                    height : 36.5px;
                                    // justify-content: left;
                                    .cc-tab-icon   {
                                        position : absolute;
                                        top : 50%;
                                        transform : translateY(-50%);
                                        left : .5rem;
                                    }
                                    &.add-button    {
                                        display : flex;
                                        justify-content: stretch;
                                        align-items: stretch;
                                        width : auto;
                                        padding:0;
                                        .cc-tab-button  {
                                            flex-grow:1;
                                            width: 100%;
                                            min-width : auto;
                                            // height: 36.5px;
                                            padding-left : .5rem;
                                            padding-right : .5rem;
                                            display : flex;
                                            justify-content: center;
                                            align-items: center;
                                            border: none;
                                        }
                                    }
                                    &.cc-card {
                                        box-shadow : none;
                                        background-color : #1e1d1d;
                                    }
                                    &.disabled  {
                                        // background-color :rgb(94, 94, 94);
        
                                        .cc-tab-button  {
                                            color : #7fc4e2;
                                            color : #d6e17b;
                                            color : #eb7461;
                                        }
                                        .cc-tab-icon {
                                            color : #7fc4e2;
                                            color : #d6e17b;
                                            color : #eb7461;
                                        }
                                    }
                                    .cc-tab-button  {
                                        color : #a2b2b9;
                                        
                                        display : block;
                                        border-radius: 0!important;
                                        min-width : 150px;
                                        max-width : 200px;
                                        width : auto;
                                        padding-left : 2.5rem;
                                        padding-right : 2.5rem;
                                        
                                        text-align: left;
                                        overflow : hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        border: none;
                                    }
                                    .cc-close-tab-button    {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        right : .5rem;
                                        font-size : .7rem!important;
                                    }

                                    padding : 0;
                                    
                                    border : 1px solid #727272;

                                    &.active-tab    {
                                        border-bottom: 1px solid transparent;
                                    }
                                    
                                }
                            }
                            .browser-address-bar    {
                                border-bottom: 0;
                                padding : .75rem 1.2rem;
                                
                                justify-content: stretch;
                                // .cc-card    {
                                    background-color : #1e1d1d;
                                // }
                                form    {
                                    display : flex;
                                    flex-direction: row;
                                    align-items: stretch;
                                    margin : 0;
                                    padding : 0;
                                }
                                .address-bar-input  {
                                    padding : .5rem;
                                    background-color : #343434;
                                    width : 100%;
                                    border : 1px solid #657272;
                                    font-size: 1rem;
                                }
                            }
                            .cc-browser-container  {
                                &.no-shadow {
                                    border-top: none;
                                }
                                flex-grow: 1;
                            }
                            &.hidden {
                                // height : auto;
                                min-height : auto;
                                .cc-browser-container  {
                                    height : auto;
                                    min-height : auto;
                                    padding : 0;
                                    > * {
                                        padding : 0;
                                        box-shadow:  none;
                                    }
                                }
                            }

                        }
                        
                        
                    }
                    

                    
                }
            }

            

            .cc-main-footer {
                height : 50px;
                background-color : #0c1527;
            }






            
            // &.active    {


            //     .cc-logo-container  {
            //         // background-color : #000000;
            //         left : 1.7rem;
            //         top: 5.5px;
            //         // &:hover {
            //         //     background-color : #728e9f;
            //         //     background-color : #a8d3ca;
            //         // }
            //     }

                
            // }

        }
        
    }

}